* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
body {
    background-color: rgba(58, 91, 208, 1.00);
    display: flex; /* Use flexbox to center the container vertically */
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.container {
    text-align: center; /* Center the content horizontally within the container */
}

header {
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 10;
    position: relative;
}

/* Style for the logo */
.logo img {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add margin between image and text */
}

/* Style for the squares */
.square {
    width: 21cm; /* Width of an A4 paper in landscape orientation */
    height: 29.7cm; /* Height of an A4 paper in landscape orientation */
    background-color: white;
    box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust box-shadow */
    box-sizing: border-box;
    margin: 20px; /* Add margin to create space between squares */
    padding: 0.5cm;
    display: flex;
    justify-content: center;
    overflow: hidden; /* Hide overflow content */
    page-break-after: always; /* Ensure each square is on a separate page */
}

table {
    border:2px solid black;
    border-collapse:collapse;
}
table th {
    border:2px solid black;
}
table td {
    border:2px solid black;
}

.head {
    text-align: center; /* Center text */
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.kwspLogo {
    float: right;
    margin-right: 30px;
    margin-bottom: -5px;
    margin-top: -40px;
}

.kwspLogo img {
    width: 40px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
}

label {
    display: inline-block;
    vertical-align: middle;
}

.spaced-text {
    margin-left: 10px;
    margin-right: 5px;
}
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 2px 0; /* Optional: adds some space around the container */
    margin-left: 10px;
}
.checkbox-container input[type="checkbox"] {
    margin-right: 3px; /* Optional: space between checkbox and label */
    margin-left: 10px;
}


.checkbox-row {
    display: inline-flex; /* Changed from flex to inline-flex */
    align-items: center;
}

.checkbox-container1 {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Adjust spacing between checkbox-label pairs */
}

.checkbox-container1 input[type="checkbox"] {
    margin-right: 5px; /* Adjust spacing between checkbox and label */
}

.checkbox-container1 label {
    font-weight: bold;
}
